DATABASE_URL=postgresql://cloudwatch:password@localhost:5432/cloudwatch

# OpenStack
OS_AUTH_URL=http://VOTRE_OPENSTACK:5000/v3
OS_USERNAME=admin
OS_PASSWORD=votre_mot_de_passe
OS_PROJECT_NAME=admin
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default

# OpenShift / Kubernetes
KUBE_API_URL=https://VOTRE_OPENSHIFT:6443
KUBE_TOKEN=votre_service_account_token
KUBE_VERIFY_SSL=false

# Collector
COLLECT_INTERVAL_SECONDS=30
MOCK_MODE=true

# Alert thresholds
ALERT_CPU_WARNING=70
ALERT_CPU_CRITICAL=90
ALERT_RAM_WARNING=75
ALERT_RAM_CRITICAL=90

# Email notifications
EMAIL_ALERTS_ENABLED=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=CloudWatch <your-email@gmail.com>
ALERT_EMAIL_TO=admin@example.com,operator@example.com
SMTP_USE_TLS=true
